<div class="banner-wrapper">
<div class="banner">
<div class="banner-image"><a href="{{ relURL .Site.BaseURL }}">{{ with .Site.Params.banner }}
<picture>
  {{ range .source }}<source media="{{ .media }}" srcset="{{ relURL .srcset }}">{{ end }}
  <img src="{{ relURL .src }}" alt="{{ .alt }}">
</picture>
{{ end }}
</a>
</div>
<ul class="menu-top">
  {{ $currentPage := . }}
  {{ range .Site.Menus.top }}
  {{if .HasChildren}}
    <li>
      <a href="{{ .URL | relURL }}"><span data-hover="{{ .Name }}">{{ .Name }}</span></a>
    </li>
    <ul class="sub-menu">
      {{range .Children}}
      <li><a href="{{ .URL | relURL }}"><span data-hover="{{ .Name }}">{{ .Name }}</span></a></li>
      {{end}}
    </ul>
  {{else}}
    <li>
      <a href="{{ .URL | relURL }}">{{ .Pre }}<span data-hover="{{ .Name }}">{{ .Name }}</span></a>
    </li>
  {{ end }}
  {{ end }}
  <!--   {{ range .Site.Menus.top }}
  <li><a href="{{ .URL | relURL }}"><span data-hover="{{ .Name }}">{{ .Name }}</span></a></li>
  {{ end }} -->
</ul>
</div>
</div>
