<!--utter-->
{{- if .Site.Params.utter.enable -}}
 <br></br>
  <hr style="border:0;height:3.5px;background-image: linear-gradient(to right, #37C0E3, #1EACA6, #1d6c80, #1EACA6, #37C0E3);" width="90%" color=#1d6c80 size=3>
  <div id="utter-container"></div>
  <script src="https://utteranc.es/client.js"
    repo= '{{ .Site.Params.utter.repo }}'
    issue-term= "{{ .Site.Params.utter.issueTerm }}"
    theme= '{{ .Site.Params.utter.theme }}'
    crossorigin= "anonymous"
    async>
  </script> 
{{- end }}
